
a {
    color: inherit;
    text-decoration: none;
}
header {
    font-family: 'Merriweather', serif;
    background-color: #b1c6c9;
    display: flex;
    height: 80px;
    justify-content: space-between;
    border-bottom: #c2d8db 1px;
    
}
.logo {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.logo .name {
    padding-top: 10px;
    flex: 2;
    font-size: xx-large;
}
.logo .alert {
    flex: 1;
    margin-bottom: 10px;
}
header nav {
    list-style: none;   
    display: flex;
    align-items: center;
}
header nav li {
    margin-right: 15px;
}
.main-and-sidebar-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 2000px;
}
.main{
    background-image: url(./content/backgr_rocks1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.main div {
    flex: 1;
}
.flags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em; 
    align-items: center;
}
.flag
{
    display: flex;
    flex-direction: column;
}
.flag .content {
    flex: 1;
    align-content: center;
    text-align: center;
}
.flag .img-content{
    width: 10em;
    text-align: center;
    flex: 4;
    background-size: cover;
    background-position: center;
} 


.myButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #666 #000 #666;
    border-radius: 10%;
    background: linear-gradient(#666, #669) #000;
    transition: 0.2s;
  } 
  a.myButton:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  a.myButton:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.flags > div {
    justify-content: center;
    display: flex;
    flex: 1;
    width: 100%;
}
.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid gray; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    margin: 5%;
   }
.education{
    background-color: gainsboro;
    display: flex;
    flex: 1;
    justify-items: center;
}
.formsOfEducation div{
    flex: 1;
}
.whyWe{
    text-align: center;
    background-color: #aec8c9;
    display: flex;
    flex: 1;
    flex-direction: row;
}
.whyWe div{
    flex: 1;
    background-size: cover;
}
.whyWe li{
    margin-bottom: 10%;
}

.reviews{
    background-color:pink;
    display: flex;
    flex: 2;
}
.map{
    flex: 1;
    background-color: rgb(0, 238, 255);
    display: flex;
}
   